/* Write your CSS here */
.tab-item {
  list-style-type: none;
  margin-top: 10px;
}
.tab-button {
  color: #7b8794;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #dfe2e5;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
.active {
  color: #2563eb;
  border: 2px solid #2563eb;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 8px;
}
